* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


*:focus {
  outline: none !important;
  box-shadow: none !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}


html {
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html, body {
  overflow-x: hidden;
}

.tab-content {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 200vh;
  position: relative;
  justify-content: center;
  text-align: center;
  }


#wrapper {
background: transparent;
width: 100%;
height: 100vh;
margin:0;
flex: 1;
flex-direction: column;
display: flex;
position: relative;
text-align: center;
}





.logo {
 
  position: absolute;
  margin-top: 5px;
  margin-left: 1%;
}



.logoimg {
  height: 12%;
  width: 12%;
  display: block;
}

.tryb {
  display: none; 
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 5px;
  margin-bottom: 5px;
  background: transparent;
  border: none;
}






.menu {

  width: 100%;
  height: 75px;
  position:fixed;
  top:0;
  left:0;
  padding: 0;
  display:flex;
  flex-direction: row;
  z-index: 1000;
  background: transparent;
  transition: 0.3s ease-in-out;
}

.menu.white {
  background: rgb(255, 255, 255);
  z-index: 1001;
  filter: drop-shadow(5px 7px 12px rgba(0, 0, 0, 0.4));
  
}

.tab.white {
  color: black;
}

.white .tab.active {
  color: rgb(40, 46, 85); /* albo dowolny inny styl */
}

.white .tab:hover {
  color: rgb(40, 46, 85); /* albo dowolny inny styl */
}




.dropdown {
  
  filter: drop-shadow(5px 7px 12px rgba(0, 0, 0, 0.4));
  list-style-type: none;
  position: relative;
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  z-index: 1001;
  height: 100%;
}

.karty {
  margin-left: 10%;
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
  line-height: 75px;
}





.tab {
z-index: 1000;
font-size: 20px;
padding-right: 2.5%;
padding-left: 2.5%;
color: rgb(255, 255, 255);
text-decoration: none;
cursor: pointer;
letter-spacing: 2px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;

}


.tab:hover {
  border-bottom: 5px solid;
  transition: 0.1s ease-in-out;
  border-radius: 0px;
  color: rgb(244, 255, 37);
}

.tab.active {
  border-bottom: 5px solid;
  color: rgb(244, 255, 37);
  border-radius: 4px;
  border-radius: 0px;
}


.social {
  font-size: 0;
  margin-right: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 

}

.social img {
  width: 3.3vw;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10%;
}

.social img:hover {
  transform: scale(110%);
  transition: ease-in-out 0.3s;
}







/*Strona główna*/


.head {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
}

.headimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.headt {
  position: absolute;

  align-items: center;
  
  flex-direction: column;
  display: flex;
  
  z-index: 101;
  
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 40%;
  border-radius: 195% 0px 0px 990%;
  border-left: 25px solid rgb(40, 46, 85);
  
}



.headtt {
  margin-top: 80px;
  color: rgb(255, 255, 255);
  font-size: 1.3vw;
  
  width: 100%;
  letter-spacing: 0.08em;
  
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.headttt {
  color: rgb(255, 255, 255);
  font-size: 2vw;
  margin-top: 1%;

  width: 100%;
 
  

    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.headtttt {
  font-size: 3.5vw;
  margin-top: 6%;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: rgb(255, 255, 255);

}
  
.headopis {
  margin-top: 5%;
  color: rgb(255, 255, 255);
}

.headopis p {
  font-size: 1vw;
  margin-top: 1%;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.pytanie {
  text-align: start;
  margin-top: 5%;
  margin-right: -20%;
  margin-left: 15%;
}

.pytanie p {
  font-size: 1.5vw;
  margin-top: 1%;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;

}


.numer {
  background-color: rgba(87, 132, 255, 0.2);
  border: 5px solid rgb(40, 46, 85);
  color: white;
  position: absolute;
  display: flex;
  right: 5%;
  bottom: 8%;
  border-radius: 15px;
  padding: 3%;
  

  transition: 0.3s ease-in-out;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: bold;
  line-height: auto;
  cursor: pointer;
}

.numer:hover {
  background-color: rgb(244, 255, 37);
   color: rgb(40, 46, 85);
}

.numer:hover {
  transform: scale(110%);
}

.numer a {
text-decoration: none;
font-size: 2vw;
list-style-type: none;
color: inherit;
}



.parallax1 {
  width: 40%;
  height: 100vh;
  background-image: url('PAR1.JPG'); 
  background-size: 45%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 10%;
  position: relative;
  float: right;
  z-index: 1;
}

.par1img {
  height: 100vh;
}

.sekcja1 {
  width: 60%;
  height: 100vh;
  background: white;
  position: relative;
  z-index: 2;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.bio {
  font-size: 4vw;
  letter-spacing: 0.08em;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  opacity: 0;

  transition: 0.7s ease-in-out;

}

.bio.visible {
  opacity: 1;
}

.reveal {
  font-size: 1.4vw;
  margin-bottom: 10%;
  margin-top: 10%;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.zapro {
  
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
}

.zapro1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.zapro2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.marzysz {
  font-size: 1.2vw;
      font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.produca {

    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2vw;
}

.dolacz {
  width: 90%;
  height: 15%;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  border: 3px solid;
  border-color: black;
  background-color: rgb(219, 215, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 10%;
  display: flex;
  padding: 10%;
}

.dolacz:hover {
  transform: scale(120%);
  background-color: rgb(255, 180, 180);
}

.dolacza {
  font-size: 2vw;
  text-decoration: none;
  list-style-type: none ;
  color: black;
  border: none;
      font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
}

.sekcja1 {
  z-index: 1;
}

.galeria {
  height: auto;
  width: 100%;
  display: block;
  position: relative;
  background-color: black;
}

.gl {
  float: left;
  width: 50%;
  height: 120vh;
  background-color: black;
  padding: 2%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: end;
  
}

.galeria1 {
  width: 80%;
  height: auto;
  position: relative;
  margin-bottom: 5%;

  transition: 0.3s ease-in-out;
}

.z1 {
  width: 100%;
  height: auto;
  border-radius: 1%;
  
}

.galeria1:hover  {
  scale: 110%;
  z-index: 1000;
}

.galeria1:hover .z1t {
  display: block;
  opacity: 1;

}

.z1t {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: auto;
  padding: 5%;
  opacity: 0;
  transition: 0.3s ease-in-out;

  letter-spacing: 0.08em;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.z1t p {
  text-align: center;
  font-size: 1vw;
  color: white;
}

.z1t p:first-child {
  font-size: 2vw;
  padding-bottom: 8%;

  letter-spacing: 0.08em;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}



.galeria2 {
  width: 80%;
  height: auto;
  position: relative;
  z-index: 100;
   transition: 0.3s ease-in-out;
}

.z2 {
  width: 100%;
  height: auto;

  border-radius: 1%;
  transition: 0.3s ease-in-out;
}

.galeria2:hover {
  scale: 110%;
  z-index: 1000;
  
}

.galeria2:hover .z2t {
  display: block;
  opacity: 1;

}

.z2t {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: auto;
  padding: 5%;
  padding-bottom: 10%;
  opacity: 0;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.z2t p {
  text-align: center;
  font-size: 1vw;
  color: white;
  padding: 1%;

  letter-spacing: 0.08em;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
}

.z2t p:first-child {
  font-size: 2vw;
  padding-bottom: 8%;

  letter-spacing: 0.08em;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.gr {
  
  width: 50%;
  height: 120vh;
  background-color: black;
  padding: 2%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.galeria3 {
  width: auto;
  height: 80%;
  position: relative;
  display: flex;
  float: right;
  justify-content: left;
  transition: 0.3s ease-in-out;
  padding: 2%;
  align-items: center;

}

.z3 {
  width: auto;
  height: 100%;

  position: relative;

  border-radius: 1%;
  transition: 0.3s ease-in-out;
}


.galeria3:hover {
  scale: 110%;
  z-index: 1000;
  
}




.galeria3:hover .z3t {
  display: block;
  opacity: 1;

}

.z3t {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: auto;
  padding: 5%;
  padding-bottom: 10%;
  opacity: 0;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.z3t p {
  text-align: center;
  font-size: 1vw;
  color: white;
  padding: 1%;

  letter-spacing: 0.08em;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
}

.z3t p:first-child {
  font-size: 2vw;
  padding-bottom: 8%;

  letter-spacing: 0.08em;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}







/* Kostka */

.headk {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
}

.headkostka {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.kostkatresc {
  background: transparent;
  width: 50%;
  height: 100vh;
  position: relative;
  z-index: 2;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.kostkatresc1 {
  height: 70%;
  border: 5px solid rgb(40, 46, 85);
  background-color: #ffffff9e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 2%;
  margin-top: 120px;

}

.kostkat {
  
  font-size: 2.5vw;
  font-weight: 900;
  
}

.kostkatresc1:hover {
transform: scale(101%);
background-color: rgb(244, 255, 37);

}

.kostkaopis1 {
  margin-top: 5%;
  font-size: 1.5vw;
  font-weight: 500;
}

.kostkaopis2 {
  margin-top: 5%;
  font-size: 1.5vw;
  font-weight: 500;
}

.kostkaopis3 {
  margin-top: 5%;
  font-size: 1.5vw;
  font-weight: 500;
}



.numer2 {
  margin-top: 2%;
  margin-bottom: 5%;
  font-size: 3vw;
  background-color: #ffffff87;
  border: 5px solid rgb(40, 46, 85);
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 1%;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 900;
}

.numer2 a {
  color: inherit;
  text-decoration: none;
}

.numer2:hover {
  background-color: rgb(244, 255, 37);
  transform: scale(105%);
  color: rgb(40, 46, 85);
  
}

.parallax2 {
  width: 40%;
  height: 100vh;
  background-image: url('z3.JPG'); 
  background-size: 45%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 10%;
  position: relative;
  float: right;
  z-index: 1;
}

.sekcjakostka {
  width: 60%;
  height: 100vh;
  background: white;
  position: relative;
  z-index: 2;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}


.elewacjaafisz {
  width: 50%;
  height: 100vh;
  background-image: url('PAR1.JPG'); 
  background-size: 45%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 10%;
  position: relative;
  float: left;
  z-index: 1;
}

.elewacjatresc {
  width: 50%;
  height: 100vh;
  background: white;
  position: relative;
  z-index: 2;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.elewacjat {
  margin-top: 10%;
  font-size: 2.5vw;
  font-weight: 900;
}

.elewacjaopis1 {
  margin-top: 5%;
}

.elewacjaopis2 {
  margin-top: 5%;
}

.elewacjaopis3 {
  margin-top: 5%;
}



/*Dach*/

.dachtresc {
  background: transparent;
  width:50%;
  height: 100vh;
  position: relative;
  z-index: 2;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dachtresc1 {
  height: auto;
  border: 5px solid rgb(40, 46, 85);
  background-color: #ffffff9e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 2%;
  margin-top: 90px;
  margin-right: 4%;

}

.dacht {
  
  font-size: 1.5vw;
  font-weight: 900;
  cursor: pointer;
}

.dachtresc1:hover {
transform: scale(101%);
background-color: rgb(244, 255, 37);

}

.dachopis1 {
  margin-top: 5%;
  font-size: 1.5vw;
  font-weight: 500;
}

.dachopis2 {
  margin-top: 5%;
  font-size: 1.5vw;
  font-weight: 500;
  text-align: left;
}

.dachopis3 {
  margin-top: 5%;
  font-size: 1.5vw;
  font-weight: 500;
  text-align: left;
}

.dachopis4 {
  margin-top: 5%;
  font-size: 1.5vw;
  font-weight: 900;
}

.wizja {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 1.5vw;
  font-weight: 900;
}

.numer3 {
  position: absolute;
  left: -42%;
  bottom: 2%;
  font-size: 3vw;
  background-color: #ffffff87;
  border: 5px solid rgb(40, 46, 85);
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 1%;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 900;
}

.numer3:hover {
  background-color: rgb(244, 255, 37);
  transform: scale(105%);
  color: rgb(40, 46, 85);
  
}






















































/*Dostosowywanie*/
 
@media(max-width:1100px) {

  .logo {
    position: absolute;
    top: 0;
    left: 1%;
    z-index: 10000;
  }
  
  .menu {
    height: 100vh;
    pointer-events:none ;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .menu.white {
    background: transparent ;
  }

  .karty {
    display:flex;
    pointer-events: all;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
      flex-direction: column;
  justify-content: space-between;
  position: absolute;
  padding-top:45%;
  padding-bottom: 45%;
  right: 0;
  height: 100%;
  background-color: rgba(40, 46, 85, 0.798);
  opacity: 0;
  }

  .tryb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 5%;
    top: 1%;
    pointer-events: all;
    position: absolute;

  }

.line {
  width: 55px;
  height: 10px;
  margin: .5em;
  border-radius: 10px;
  transition: .3s ease-in-out;
  border: solid 0.001px;
}

.tryb .line:nth-child(1) {
 background: linear-gradient(45deg,rgb(232, 255, 150),  rgba(255, 255, 255, 0.848),rgba(255, 255, 255, 0.848));
  width: 100%;
 align-self: flex-end;
 
}


.tryb .line:nth-child(2) {
 background: linear-gradient(45deg, rgba(255, 255, 255, 0.848), rgb(232, 255, 150), rgba(255, 255, 255, 0.848));
  
}


.tryb .line:nth-child(3) {
 background: linear-gradient(45deg, rgba(255, 255, 255, 0.848), rgba(255, 255, 255, 0.848),rgb(232, 255, 150) );
width: 60%;
align-self: flex-end;


}

.tryb.active .line:nth-child(1) {
  transform: translateY(30px) rotate(45deg);
  width: 40px;
}

.tryb.active .line:nth-child(2) {
  opacity: 0; /* Ukrywamy środkową linię */
}

.tryb.active .line:nth-child(3) {
  transform: translateY(-16px) rotate(-45deg);
  
}

.karty.unzip {
  

  transform: translateX(0);
  transition: 0.3s ease-in-out;
  opacity: 1;
  
}
.tab.white {
  color: rgb(255, 255, 255);
}

.white .tab.active {
  color: rgb(244, 255, 37); /* albo dowolny inny styl */
}

.white .tab:hover {
  color: rgb(244, 255, 37); /* albo dowolny inny styl */
}

   .head {
    height: 100vh;
    display: flex;
    position: relative;
  }

  .headimg {
    width: auto;
    height: 100vh;
    opacity: 0.5;
  }

  .headt {
  position: absolute;
  bottom: 0;
 
  align-items: center;
  
  flex-direction: column;
  display: flex;
  
  z-index: 1;
  
  background-color: rgba(255, 255, 255, 0.9);
  height: 50%;
  width: 100%;
  border-radius: 125% 125% 0 0;
  border-top: 25px solid rgb(40, 46, 85);
  border-left: 0px;
}



.headtt {
  color: rgb(0, 0, 0);
  font-size: 2.5vw;
  margin-top: 5%;
  width: 100%;
  letter-spacing: 0.08em;
  
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.headttt {
  color: rgb(0, 0, 0);
  font-size: 3vw;
 

  width: 100%;
 
  

    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.headtttt {

}



.numer {
  background-color: red;
  position: absolute;
  display: flex;
  right: 42.5%;
  bottom: 35%;
  border-radius: 10px;
  padding: 2%;
}

.numer p {
font-size: 2vw;
}


  /* Sekcja parallax */
  .parallax1, .sekcja1 {
    width: 100%;
    height: 100vh;
    float: none;
  }

  .parallax1 {
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .sekcja1 {
    padding: 5%;
    height: 100vh;
  }

  .bio {
    font-size: 6vw;
    margin-top: 5%;
  }

  /* Galeria */
  .galeria {
    flex-direction: column;
  }

  .gl, .gr {
    width: 100%;
    height: auto;
    float: none;
    padding: 5%;
    align-items: center !important;
  }

  .galeria1, .galeria2 {
    width: 100%;
    margin-bottom: 15%;
  }

  .galeria3 {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .z1, .z2, .z3 {
    width: 100%;
    height: auto;
  }

  .z1t p, .z2t p, .z3t p {
    font-size: 3.5vw;
  }

  .z1t p:first-child, 
  .z2t p:first-child, 
  .z3t p:first-child {
    font-size: 5vw;
  }











  /*Kostka*/

  .headk {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
}

.headkostka {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.kostkatresc {
  background: transparent;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.kostkatresc1 {
  height: 50%;
  width: 100%;
  border: 5px solid rgb(40, 46, 85);
  background-color: #ffffff65;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 2%;
  margin-top: 0px;
}

.kostkatresc1:hover {
transform: scale(100%);
background-color: #ffffff9e;
cursor: default;
}

.kostkat {
  
  font-size: 5.5vw;
  font-weight: 900;
  
    color: rgb(244, 255, 37);
    text-shadow:
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     6px  6px 0 black;
}



.kostkaopis1 {
  margin-top: 0%;
  font-size: 5.5vw;
  font-weight: 500;
}

.kostkaopis2 {
  margin-top: 0%;
  font-size: 5.5vw;
  font-weight: 500;
    color: rgb(244, 255, 37);
    text-shadow:
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     6px  6px 0 black;
}

.kostkaopis3 {
  margin-top: 0%;
  font-size: 4.5vw;
  font-weight: 500;
}

.wizja {
  font-size: 3.5vw;
  color: rgb(244, 255, 37);
    text-shadow:
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     6px  6px 0 black;
}


.numer2 {
  position: absolute;
  bottom: 3vh;
  font-size: 3vw;
  background-color: #ffffff87;
  border: 5px solid rgb(40, 46, 85);
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 1%;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 900;
}

.numer2:hover {
  background-color: rgb(244, 255, 37);
  transform: scale(110%);
  color: rgb(40, 46, 85);
  
}

.parallax2 {
  width: 100%;
  height: 100vh;
  background-image: url('z3.JPG'); 
  background-size: 120%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 60%;
  position: relative;
  float: right;
  z-index: 1;
}

.sekcjakostka {
  width: 100%;
  height: 100vh;
  background: white;
  position: relative;
  z-index: 2;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}





}